# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#Api keys
#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